<head>
    <script src="https://kit.fontawesome.com/594d98509e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "home" %>

</head>

<body class ="container-home">
    <nav class= "home-nav">
        <section id="index-logo-home"><%= image_tag("logo.png", width: "80", height: "60")%></section>
        <section id="index-salir-home">
            <div id="texto-salir-home">
                <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
            </div>
        </section>
    </nav>

    <main class= "home-main">
        <section class="container-lista-home">
            <div id="titulo-menu-home">
                <h2 class= "h2-home">Titulo</h2>
            </div>
            <div id="Menu">
                <ul class="Home-Listas">
                    <li class="lista-home-1"><%= link_to "Areas", areas_path, :method => :get %></li>
                    <li class="lista-home-1"></li>
                    <li class="lista-home-1"></li>
                </ul>
            </div>
        </section>

        <section id="index-bienvenida-home">
            <h3>Bienvenidos</h3>
        </section>
        
    </main>
</body>