<tr>
<td> <%= area.codigo_area %> </td>
<td><%= link_to area.nombre_area , area_path(area.id) %></td>

<td><%= link_to 'Eliminar', area,
              data: {
                "turbo-method": :delete,
                
              } %></td>
  

<tr>