



.main-areas{
    width: 100%;
    display: flex;
    justify-content: start;
    height: 450px;
    margin-top: 5px;
    margin-bottom: 50px;
}

.container-lista-areas{
    border: solid 1px black;
    width: 250px;
    height: 450px;
}


#titulo-menu-areas{
    border: 1px solid rgb(38, 0, 255);
    height: 40px;
    text-align: center;
}

.h2-areas{
margin-top: 4px;
}

.lista-areas-1{
height: 25px;
margin-left: -40px;
border: solid 1px rebeccapurple;
margin-top: 30px;
list-style: none;
}

#index-bienvenida-home{
    border: solid 1px black;
    height: 450px;
    width: 100%;
}

.volver-areas{
    border: 1px solid red;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 300px;
    text-align: center;
    
}

/* -------------------------------------------------------------- */


/* -----------------estilos de las demas vistas de area----------------- */

.index-informacion-areas{
    border: solid 1px black;
    height: 450px;
    width: 100%;
}

.lista-areas li{
    text-align: center;
}



