@import "font-awesome";

:root {
    --primario: #251E17;
    --secundario: #FF8138;
    --terciario: #669900;
    --blanco: #FFF;   
    --negro: #000;
}


/* menu */
.contenedorHome{
    width: 100%;
    display: flex;
    justify-content: start;
    height: 450px;
    margin-top: 5px;
    margin-bottom: 50px;
}
.menu {
    border: solid 1px black;
    width: 250px;
    height: 450px;
}
.menu__titulo {
    background-color: var(--secundario);
    border: 1px solid var(--secundario);
    height: 40px;
    text-align: center;
}
.menu__titulo h2 {
    margin-top: 4px;
}
.menu__lista a {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.menu__lista ul li {
    height: 25px;
    margin-left: -40px;
    border: solid 1px rebeccapurple;
    margin-top: 30px;
    list-style: none;
}

/* informacion */

.informacion {
    border: solid 1px black;
    height: 450px;
    width: 100%;
}
