<tr>
<td> <%= programa.codigo_pro %> </td>


<td> <%= link_to programa.nombre_pro, area_programa_path(@area, programa) %> </td>

<td><%= link_to 'Eliminar', area_programa_path(@area, programa),
              data: {
                "turbo-method": :delete,
                
              } %></td>
              

</tr>